  {{ include 'head' }}
    <main>
      <section>
        <h1>Hey mijn naam is {{ person.name }}</h1>
        <h3>Welkom bij mijn portfolio website</h3>
      </section>


      {% include 'projecten' %}
    </main>
  {{ include 'foot' }}
