<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  
<body>
    <header>
      <a href="#">
        <svg
          width="20"
          height="20"
          viewBox="0 0 28 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1.5H28M0 13.2805H28M0 24.5H28"
            stroke="black"
            stroke-width="3"
          />
        </svg>
      </a>
      <img src="/assets/229723261.jpeg" alt="foto van Guts" />
    </header>